# Installation and Importing
## Import necessary modules.

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\sundaram\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\sundaram\anaconda3\lib\site-packages (from pymongo) (2.2.1)

In [2]:
from pymongo import MongoClient

# Connecting locally 
## Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

In [3]:
client=MongoClient("mongodb://localhost:27017/") # connecting locally

In [4]:
client.list_database_names() # gives list of dbs names

['admin', 'config', 'guvitaskdb', 'local']

In [5]:
db=client["guvitaskdb"] # assigning desired database from the list above to a variable "db"

In [6]:
db.list_collection_names() # gives list of collections in the db

['student_datacol']

## Create a collection.

In [7]:
mycol=db["Telephone"]

## For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

In [10]:
phone_list=[{"Name" : "Kalki",
           "Phone Number": 1234567890,
           "Place": "Chennai",
            "Age" : 3},
         {"Name" : "Theeran",
           "Phone Number": 1234567800,
           "Place": "Chennai",
            "Age": 5},
          {"Name" : "Sai",
           "Phone Number": 1234567000,
           "Place": "Trichy",
            "Age": 30},
            {"Name" : "Sundar",
           "Phone Number": 1234560000,
           "Place": "Tirunelveli",
            "Age": 32},
            {"Name" : "Sethu",
           "Phone Number": 1234500000,
           "Place": "Thoothukudi",
            "Age": 68},
            {"Name" : "Raman",
           "Phone Number": 1234000000,
           "Place": "Thoothukudi",
            "Age": 56},
            {"Name" : "Subramanian",
           "Phone Number": 1230000000,
           "Place": "Chennai",
            "Age": 38},
            {"Name" : "Kalkandu",
           "Phone Number": 12000000000,
           "Place": "Trichy",
            "Age": 35},
            {"Name" : "Subbu",
           "Phone Number": 1000000000,
           "Place": "Thirunelveli",
            "Age": 31},
            {"Name" : "Lakshmi",
           "Phone Number": 1234567899,
           "Place": "Hyderabad",
            "Age": 23},
            {"Name" : "Janaki",
           "Phone Number": 1234567999,
           "Place": "Telengana",
            "Age": 33},
            {"Name" : "Mirra",
           "Phone Number": 1234569999,
           "Place": "Pune",
            "Age": 34}
            
         ]

## Insert the record into the collection.

In [11]:
mycol.insert_many(phone_list)

In [12]:
db.list_collection_names() # gives list of collections in the db

['Telephone', 'student_datacol']

## Make a query to find records you just created.

In [13]:
for i in mycol.find():
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc6'), 'Name': 'Kalki', 'Phone Number': 1234567890, 'Place': 'Chennai', 'Age': 3}
{'_id': ObjectId('63c817a2efeee3197b4dfbc7'), 'Name': 'Theeran', 'Phone Number': 1234567800, 'Place': 'Chennai', 'Age': 5}
{'_id': ObjectId('63c817a2efeee3197b4dfbc8'), 'Name': 'Sai', 'Phone Number': 1234567000, 'Place': 'Trichy', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc9'), 'Name': 'Sundar', 'Phone Number': 1234560000, 'Place': 'Tirunelveli', 'Age': 32}
{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}
{'_id': ObjectId('63c817a2efeee3197b4dfbcc'), 'Name': 'Subramanian', 'Phone Number': 1230000000, 'Place': 'Chennai', 'Age': 38}
{'_id': ObjectId('63c817a2efeee3197b4dfbcd'), 'Name': 'Kalkandu', 'Phone Number': 12000000000, 'Place': 'Trichy', 'Age': 35}
{'_id': ObjectId('63c817a2efeee3197b4dfbce'), 'Name': 'Subbu', 'Phone Number': 1000000000, 'Place': 'Thirunelveli', 'Age': 31}
{'_id': ObjectId('63c817a2efeee3197b4dfbcf'), 'Name': 'Lakshmi', 'Phone Number': 1234567899, 'Place': 'Hyderabad', 'Age': 23}
{'_id': ObjectId('63c817a2efeee3197b4dfbd0'), 'Name': 'Janaki', 'Phone Number': 1234567999, 'Place': 'Telengana', 'Age': 33}
{'_id': ObjectId('63c817a2efeee3197b4dfbd1'), 'Name': 'Mirra', 'Phone Number': 1234569999, 'Place': 'Pune', 'Age': 34}

In [16]:
for i in mycol.find({"Place" : "Thoothukudi"}):
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}

In [17]:
for i in mycol.find({"Place" : "Thoothukudi"},{'_id':0, "Phone Number":0}):
    print(i)

{'Name': 'Sethu', 'Place': 'Thoothukudi', 'Age': 68}
{'Name': 'Raman', 'Place': 'Thoothukudi', 'Age': 56}

In [38]:
q={"Age":{"$lte":5}}
for i in mycol.find(q):
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc6'), 'Name': 'Kalki', 'Phone Number': 1234567890, 'Place': 'Chennai', 'Age': 3}
{'_id': ObjectId('63c817a2efeee3197b4dfbc7'), 'Name': 'Theeran', 'Phone Number': 1234567800, 'Place': 'Chennai', 'Age': 5}

## Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

In [40]:
Q={'Name': 'Kalki'}
New={"$set":{'Age': 10}}
mycol.update_one(Q, New)
for i in mycol.find():
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc6'), 'Name': 'Kalki', 'Phone Number': 1234567890, 'Place': 'Chennai', 'Age': 10}
{'_id': ObjectId('63c817a2efeee3197b4dfbc7'), 'Name': 'Theeran', 'Phone Number': 1234567800, 'Place': 'Chennai', 'Age': 5}
{'_id': ObjectId('63c817a2efeee3197b4dfbc8'), 'Name': 'Sai', 'Phone Number': 1234567000, 'Place': 'Trichy', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc9'), 'Name': 'Sundar', 'Phone Number': 1234560000, 'Place': 'Tirunelveli', 'Age': 32}
{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}
{'_id': ObjectId('63c817a2efeee3197b4dfbcc'), 'Name': 'Subramanian', 'Phone Number': 1230000000, 'Place': 'Chennai', 'Age': 38}
{'_id': ObjectId('63c817a2efeee3197b4dfbcd'), 'Name': 'Kalkandu', 'Phone Number': 12000000000, 'Place': 'Trichy', 'Age': 35}
{'_id': ObjectId('63c817a2efeee3197b4dfbce'), 'Name': 'Subbu', 'Phone Number': 1000000000, 'Place': 'Thirunelveli', 'Age': 31}
{'_id': ObjectId('63c817a2efeee3197b4dfbcf'), 'Name': 'Lakshmi', 'Phone Number': 1234567899, 'Place': 'Hyderabad', 'Age': 23}
{'_id': ObjectId('63c817a2efeee3197b4dfbd0'), 'Name': 'Janaki', 'Phone Number': 1234567999, 'Place': 'Telengana', 'Age': 33}
{'_id': ObjectId('63c817a2efeee3197b4dfbd1'), 'Name': 'Mirra', 'Phone Number': 1234569999, 'Place': 'Pune', 'Age': 34}

In [41]:
Q={'Place': 'Chennai'}
New={"$set":{'Age': 30}}
mycol.update_many(Q, New) # updates all chennai infos
for i in mycol.find():
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc6'), 'Name': 'Kalki', 'Phone Number': 1234567890, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc7'), 'Name': 'Theeran', 'Phone Number': 1234567800, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc8'), 'Name': 'Sai', 'Phone Number': 1234567000, 'Place': 'Trichy', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc9'), 'Name': 'Sundar', 'Phone Number': 1234560000, 'Place': 'Tirunelveli', 'Age': 32}
{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}
{'_id': ObjectId('63c817a2efeee3197b4dfbcc'), 'Name': 'Subramanian', 'Phone Number': 1230000000, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbcd'), 'Name': 'Kalkandu', 'Phone Number': 12000000000, 'Place': 'Trichy', 'Age': 35}
{'_id': ObjectId('63c817a2efeee3197b4dfbce'), 'Name': 'Subbu', 'Phone Number': 1000000000, 'Place': 'Thirunelveli', 'Age': 31}
{'_id': ObjectId('63c817a2efeee3197b4dfbcf'), 'Name': 'Lakshmi', 'Phone Number': 1234567899, 'Place': 'Hyderabad', 'Age': 23}
{'_id': ObjectId('63c817a2efeee3197b4dfbd0'), 'Name': 'Janaki', 'Phone Number': 1234567999, 'Place': 'Telengana', 'Age': 33}
{'_id': ObjectId('63c817a2efeee3197b4dfbd1'), 'Name': 'Mirra', 'Phone Number': 1234569999, 'Place': 'Pune', 'Age': 34}

## Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [43]:
mycol.delete_one({'Name': 'Janaki'})
for i in mycol.find():
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc6'), 'Name': 'Kalki', 'Phone Number': 1234567890, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc7'), 'Name': 'Theeran', 'Phone Number': 1234567800, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc8'), 'Name': 'Sai', 'Phone Number': 1234567000, 'Place': 'Trichy', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbc9'), 'Name': 'Sundar', 'Phone Number': 1234560000, 'Place': 'Tirunelveli', 'Age': 32}
{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}
{'_id': ObjectId('63c817a2efeee3197b4dfbcc'), 'Name': 'Subramanian', 'Phone Number': 1230000000, 'Place': 'Chennai', 'Age': 30}
{'_id': ObjectId('63c817a2efeee3197b4dfbcd'), 'Name': 'Kalkandu', 'Phone Number': 12000000000, 'Place': 'Trichy', 'Age': 35}
{'_id': ObjectId('63c817a2efeee3197b4dfbce'), 'Name': 'Subbu', 'Phone Number': 1000000000, 'Place': 'Thirunelveli', 'Age': 31}
{'_id': ObjectId('63c817a2efeee3197b4dfbcf'), 'Name': 'Lakshmi', 'Phone Number': 1234567899, 'Place': 'Hyderabad', 'Age': 23}
{'_id': ObjectId('63c817a2efeee3197b4dfbd1'), 'Name': 'Mirra', 'Phone Number': 1234569999, 'Place': 'Pune', 'Age': 34}

In [44]:
mycol.delete_many({'Age': 30})
for i in mycol.find():
    print(i)

{'_id': ObjectId('63c817a2efeee3197b4dfbc9'), 'Name': 'Sundar', 'Phone Number': 1234560000, 'Place': 'Tirunelveli', 'Age': 32}
{'_id': ObjectId('63c817a2efeee3197b4dfbca'), 'Name': 'Sethu', 'Phone Number': 1234500000, 'Place': 'Thoothukudi', 'Age': 68}
{'_id': ObjectId('63c817a2efeee3197b4dfbcb'), 'Name': 'Raman', 'Phone Number': 1234000000, 'Place': 'Thoothukudi', 'Age': 56}
{'_id': ObjectId('63c817a2efeee3197b4dfbcd'), 'Name': 'Kalkandu', 'Phone Number': 12000000000, 'Place': 'Trichy', 'Age': 35}
{'_id': ObjectId('63c817a2efeee3197b4dfbce'), 'Name': 'Subbu', 'Phone Number': 1000000000, 'Place': 'Thirunelveli', 'Age': 31}
{'_id': ObjectId('63c817a2efeee3197b4dfbcf'), 'Name': 'Lakshmi', 'Phone Number': 1234567899, 'Place': 'Hyderabad', 'Age': 23}
{'_id': ObjectId('63c817a2efeee3197b4dfbd1'), 'Name': 'Mirra', 'Phone Number': 1234569999, 'Place': 'Pune', 'Age': 34}